<div class="card-deck mb-3 text-center">
    {% for product in products %}
        <div class="card mb-4 shadow-sm">
            {% if not product.images.empty %}
                <img class="card-img-top"
                     src="{{ vich_uploader_asset(product.images.first, 'image')| imagine_filter('products_list') }}"
                     alt="card image cap">
{#                <img class="card-img-top" src="{{ vich_uploader_asset(product.images.first, 'image') }}" alt="card image cap">#}
            {% endif %}
            <div class="card-header">
                <h4 class="my-0 font-weight-normal">{{ product.name }}</h4>
            </div>
            <div class="card-body">
{#                <h1 class="card-title pricing-card-title">{{ product.price /100}} грн.</h1>#}
                <h1 class="card-title pricing-card-title">{{ product.price |money}}</h1>
                {{ product.description }}
                <a href="{{ path('product', {id:product.id}) }}" class="btn btn-lg btn-block btn-outline-primary">Подробнее</a>
                <a href="{{ path('order_add_to_cart', {id:product.id}) }}" class="btn btn-lg btn-block btn-outline-primary js-add-to-cart">
                    <i class="fas fa-cart-plus"></i>В корзину
                </a>
            </div>
        </div>
    {% endfor %}
</div>