{% extends 'base.html.twig' %}

{% block title %}{{ product.name }}{% endblock %}

{% block body %}

    <h1>{{ product.name }}</h1>

{#    {% if not product.images.empty %}#}
{#    <img src="{{ vich_uploader_asset(product.images.first, 'image') }}" alt="{{ product.name }}">#}
    {% for image in product.images %}
        <img src="{{ vich_uploader_asset(image, 'image') | imagine_filter('products_detail') }}" alt="{{ product.name }}">
    {% endfor %}
    <p>{{ product.price /100}}</p>
    <p>{{ product.description}}</p>

{% endblock %}



