<table class="table">
    <tr>
        <th>Номер</th>
        <th>Товар</th>
        <th>Цена</th>
        <th>Кол-во</th>
        <th>Стоимость</th>
        <th></th>
    </tr>

    {% for item in order.items %}
        <tr>
            <td>{{ loop.index }}</td>
            <td>{{ item.name }}</td>
            <td>{{ item.price /100 }}</td>
            <td>{{ item.count }}"</td>
            <td>{{ item.amount /100 }}</td>
        </tr>
    {% endfor %}

    <tr>
        <th colspan="3">Всего</th>
        <th>{{ order.amount /100 }}</th>
    </tr>

</table>

<p>Имя: {{ order.firstName }}</p>
<p>Фамилия: {{ order.lastName }}</p>
<p>Email: {{ order.email }}</p>
<p>Адрес: {{ order.address }}</p>