

    <table class="table">
        <tr>
            <th>Номер</th>
            <th>Товар</th>
            <th>Цена</th>
            <th>Кол-во</th>
            <th>Стоимость</th>
            <th></th>
        </tr>

        {% for item in order.items %}
            <tr>
                <td>{{ loop.index }}</td>
                <td>{{ item.name }}</td>
                <td>{{ item.price /100 }}</td>

                <td>
                   <input type="number" value="{{ item.count }}"
                          data-url="{{ path('order_set_count', {'id': item.id}) }}"
                          class="cart-item-count js-cart-item-count"
                   >
                </td>


                <td>{{ item.amount /100 }}</td>
                <td>
                    <a href="{{ path('order_delete_item', {'id': item.id}) }}"></a>
                </td>
            </tr>
        {% endfor %}

        <tr>
            <th colspan="3">Всего</th>
            <th>{{ order.amount /100 }}</th>
        </tr>

    </table>



